{% extends 'base.html.twig' %}

{% block title %}New Dungeon{% endblock %}

{% block body %}
    <h1>Create new Dungeon</h1>

    {{ include('dungeon/_form.html.twig') }}

    <a href="{{ path('dungeon_index') }}">back to list</a>
{% endblock %}
